.header {
    font-family: 'Titillium Web', sans-serif;
}

.button-row {
    display: flex;
}

.buttons-numbers {
    display: flex;
}

.btn {
    height: 70px;
    width: 90px;
    margin: 2px;
    font-size: 30px;
}

body{
    background-color: #8e8e8e;    
}

#display-answer {
    color: #f8f9fa;
    font-size: 36px;
    margin: 5px 5px 0 auto;
}

#display-equation {
    color: #b4b5b6;
    font-size: 20px;
    margin: 5px 5px 0 auto;
    height: 24px;
    flex-shrink: 1;
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 370px;
    
}

#calculator {
    background-color: rgb(35, 35, 35);
    display: flex;
    flex-direction: column;
    border-radius: 8px;
}

#buttons {
    display: flex;
    margin: 5px;
}

#equals {
    flex: auto;
}

.flex-container {
    display: flex;
    margin: 0;
}

.column-flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#outer-container {
    margin: 40px 50px 50px 50px;
}

h1 {
    font-size: 44px;
    margin-bottom: 0px;
}

#the-odin-project {
    margin-bottom: 10px;
    font-size: 18px;
}

a{
    color: white;
    text-decoration: none;
}

a:hover {
    color: rgb(231, 0, 0);
}

#author {
    margin-top: -10px;
    font-size: 28px;
}